.register-container{
  width:350px;
  margin:120px auto;
  padding:30px;
  background:white;
  border-radius:10px;
  box-shadow:0 0 10px gray;
  text-align:center;
}

.register-container h2{
  margin-bottom:20px;
}

.register-container input{
  width:100%;
  padding:10px;
  margin:10px 0;
  border:1px solid #ccc;
  border-radius:5px;
}

.register-container button{
  width:100%;
  padding:10px;
  background:#2196F3;
  color:white;
  border:none;
  border-radius:5px;
  cursor:pointer;
}

.register-container button:hover{
  background:#1976D2;
}